table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, th {
    border: 2px solid #ddd;
    padding: 8px;
    color: black;
  }
  
  table tr:nth-child(even) {background-color: #f2f2f2cc;}
  table tr:nth-child(odd) {background-color: #f2f2f2fd;}
  
  table tr:hover {background-color: #ffba43f3;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    text-align: left;
    background-color: black;
    color: white;
  }